
<div class="container card-body">
  <div class="login-card p-3 shadow-lg rounded">
    <div class="pt-3">
      <h2><%=@user.email%></h2>
      <h1 style="color: orange"> UNDER CONSTRUCTION </h1>
    </div>
  </div>
</div>



