.sub-container-show {
  overflow: hidden;
  background: #5f7a84;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  justify-content: space-evenly;
  margin: 7px;
}

.sub-container-show:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.container-title {
  overflow: hidden;
  background: #5f7a84;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  align-text: center;
  margin: 10px;
  background-color: transparent;
}

.container-address-price {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 20px;
}

.container-img {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.container-img:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.container-date-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.container-instrument-description {

}

.container-booking-pickr {

}

.container-map {

}

// .row {
//   justify-content: flex-end;
// }

.container-review {
  padding-top: 10px;
}

#price_per_day {

}

#title-infos {
  align-items: center;
}

#price {
  justify-content: flex-end;
  font-size: 45px;
}
