<% if current_user.id != @instrument.user_id  %>
  <div id="bookings-form">
    <div class="bookings-form-title">
      <h6>Book now!</h6>
    </div>

      <div>
        <%= simple_form_for :search, method: "get" do |f| %>
          <%= f.input :check_in_date, as: :string, required: false, input_html: {id: "check_in_date"} %>
          <%= f.input :check_out_date, as: :string, required: false, input_html: {id: "check_out_date"} %>
          <%= f.button :submit, "Send request", class: "btn btn-success" %>
        <% end %>
      </div>
  </div>
<% end %>
