<div class="banner"> 
  <%= video_tag "banner-home.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "video-bg" %>
  <h1 class="text-center">TONE!</h1>
  <p class="text-center">find the best music tools around you</p>
  <br>
</div>