<h1>INSTRUMENTS</h1>
  <% @instruments.each do |instrument| %>
      <%= instrument.category %>
      <%= instrument.description %>
  <% end %>



<h1>Bookings</h1>

  <% @bookings.each do |booking| %>
    <%= booking.check_in_date %>
    <%= booking.check_out_date %>
  <% end %>
