.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.sub-container {
  background: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.89));
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  margin: 16px;
  opacity: 0.9;
  box-sizing: border-box;
  width: 100%;
}

// .title {
//   padding-left: 40px;
// }

// .title-infos {
//   padding-right: 40px;
// }

li {
  list-style-type: none;
}


h2 {
  color: #e34f33;
  font-family:'Montserrat', sans-serif;
}
