.footer {
  background: $body-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $green;
  opacity: 0.4;
  text-decoration: none;
  font-size: 32px;
  padding: 0px 16px;
}
.footer-links a:hover {
  transition: width 2s linear 1s;
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
