.login-card {
  background-color: #282828;
  background: linear-gradient(
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.7)
  );
  color: #e34f33;
  border-radius: 16px;
}

body {
  background-image: url("https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
