.login-card {
  background-color: #282828;
  background: linear-gradient(
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.7)
  );
  color: #e34f33;
  border-radius: 16px;
}

body {
  background-image: url("https://images.pexels.com/photos/4709838/pexels-photo-4709838.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
