.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.navbar-lewagon-white {
  background-color: #0b2325;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #fcfaf1;
}

.nav-link:hover {
  color: #5e7a85;
  opacity: 0.9;
}
