<%= render 'shared/navbar', instrument: @instrument %>

<div class="title">
  <div>
    <div class="title-infos"><%= @instrument.title %></div>
    <div class="title-infos"><%= @instrument.rating %></div>
    <div class="title-infos"><%= @instrument.price_per_day %></div>
  </div>
</div>

